@import "bootstrap";

.show_image {
    margin-bottom: 10px;
}

.show_button {
    display: flex;
    margin-bottom: 15px;
}

.show_row {
    margin-top: 15px;
    margin-bottom: 15px
}

.btn-space {
    margin-right: 5px;
}

.show_list {
    line-height: 70%;
    padding-left: 0;   
}
