@import "bootstrap";

.show_image {
    margin-bottom: 10px;
}

.show_button {
    display: flex;
    margin-bottom: 15px;
}

.show_row {
    margin-top: 15px;
    margin-bottom: 15px
}

.btn-space {
    margin-right: 5px;
    margin-left: 5px;
}

.show_list {
    line-height: 70%;
    padding-left: 0;   
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#searchfield {
    width: 300px;
}

.navbar-link {
    color: white;
}

.dropdown-item {
    padding-left: 5px;
}

#back_button_index {
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.dropdown_nav_style {
    padding-left: 10px;
}

h1 {
    padding-top: 25px;
    padding-bottom: 15px;
}

.nav-item {
    padding-left: 5px;
    padding-bottom: 5px;
}

.list-group-item {
    padding-bottom: 0px;
}